[submodule "Apple/swift/swiftUI/ios-architecture"]
	path = Apple/swift/swiftUI/ios-architecture
	url = https://github.com/tailec/ios-architecture.git
[submodule "Apple/interview/iOSInterviewQuestions"]
	path = Apple/interview/iOSInterviewQuestions
	url = https://github.com/ChenYilong/iOSInterviewQuestions.git
[submodule "Apple/interview/FBYInterview-iOS"]
	path = Apple/interview/FBYInterview-iOS
	url = https://github.com/fanbaoying/FBYInterview-iOS.git
