[submodule "Apple/swift/swiftUI/ios-architecture"]
	path = Apple/swift/swiftUI/ios-architecture
	url = https://github.com/tailec/ios-architecture.git
[submodule "Apple/interview/iOSInterviewQuestions"]
	path = Apple/interview/iOSInterviewQuestions
	url = https://github.com/ChenYilong/iOSInterviewQuestions.git
[submodule "Apple/interview/FBYInterview-iOS"]
	path = Apple/interview/FBYInterview-iOS
	url = https://github.com/fanbaoying/FBYInterview-iOS.git
[submodule "Apple/source/objc4"]
	path = Apple/source/oc/objc4
	url = https://github.com/apple-oss-distributions/objc4.git
[submodule "Apple/source/CF"]
	path = Apple/source/oc/CF
	url = https://github.com/apple-oss-distributions/CF.git
[submodule "Apple/source/libs-base"]
	path = Apple/source/oc/libs-base
	url = https://github.com/gnustep/libs-base.git
[submodule "Apple/source/3rd/AFNetworking"]
	path = Apple/source/3rd/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Apple/source/3rd/Alamofire"]
	path = Apple/source/3rd/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
